body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #002008;
  }
  .game-board {
    margin: 0 auto;
    top: 13vh;
    display: block;
    position: relative;
    width: 30%;
    height: 40vh;
  }
.board-row {
  height: 33.3%;
} 

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .square {
    background: #fff;
    border: 2px solid black;
    float: left;
    font-size: 100px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    width: 33.3%;
    height: 100%;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
    height: 95vh;
    position: relative;
  }
  .game-info {
    
    margin: 0 auto;
    margin-top: 10%;
  }
  
  .test {
    color: green;
  }

  .yellow {
    color: yellow;
  }
  .bold-text{
    font-weight: bolder;
    color:red;
  }
  .game-status {
    margin: 0 auto;
    color: white;
    font-size: 100px;
    font-weight: bolder;
  }